.main {
  text-align: center;
}

.logo_github {
  height: 30px;
}

.content {
  font-size: large;
}


/*loader*/

.loader {
  margin-left: 50%;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.notFound{
    background-image: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/J70T3LHQ2O.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}



.homepage{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7c/Vicu%C3%B1a_-_Chimborazo%2C_Ecuador.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.homepageTitle{
  padding-top: 80px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}

homeTopTitle:hover {
    text-decoration: none;
}

.homepageInput{
  margin-bottom: 80px;
}

.homepageSubTitle{
  text-align: center;
  color: white;
  padding-top: 60px;
}

.homepageTabs{
  padding-top: 30px;
}

.commonOverlay{
    top:0;
    bottom:0;
    left:0;
    width:100%;
    position:absolute;

    background-color: black;
    opacity: 0.6;
}

.homeTopTitle{
    /*position:relative;*/
    cursor: pointer; cursor: hand;
    color: white;
    z-index:1;
}

.homepageOverlay{
  position:relative;
  z-index:1;
}




.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}



